<table class="table table-bordered">
  <thead class="thead-light">
  <tr>
    <th scope="col"><%= t("admin.billboards.price") %></th>
    <th scope="col"><%= t("admin.billboards.updated_at") %></th>
  </tr>
  </thead>
  <tbody>
  <% billboard.get_all_prices.find_each do |data| %>
    <tr >
      <td>
        <%= data.price %>
      </td>
      <td>
        <%= data.created_at %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>