<p><%= t("devise.mailer.confirmation_instructions.welcome")%></p>

<p><%= t("devise.mailer.confirmation_instructions.message") %></p>

<p><%= link_to t("devise.mailer.confirmation_instructions.link"), confirmation_url(@resource, confirmation_token: @token) %></p>
