<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"><%= t("billboard.show.address") %></th>
    <th scope="col"><%= t("billboard.show.price") %></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td><%= billboard.address %></td>
    <td><%= billboard.get_price %></td>
  </tr>
  </tbody>
</table>