  <script async defer
          src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.map_key %>&callback=initMap">
  </script>
<!--The div element for the map -->
<div id="map"></div>
<div class="col-8">
  <%= render 'billboards', billboards: @billboards %>
  <%= render 'free_billboards', free_billboards: @free_billboards %>
</div>
